Django==1.5.4
psycopg2==2.5.1
dnspython==1.11.1
gevent==0.13.8
greenlet==0.4.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
sleekxmpp==1.1.11
python-potr==1.0.0b7
pycrypto==2.6
ipython==1.1.0
django-sse==0.4.1
sse==1.2
dj-static==0.0.5
python-memcached
