<!DOCTYPE html>{% load static from staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>otrme.de</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/otrme.css' %}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'assets/favicon.png' %}">

    {% block head %}
    {% endblock %}

  </head>
  <body class="bs-docs-home">
    <a class="sr-only" href="#content">Skip navigation</a>

    <!-- Docs master nav -->
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav navbar-custom" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">OTRme</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
	{% if not user.is_authenticated %}
        <li>
          <a href="/register">Register</a>
        </li>
        <li>
          <a href="{% url 'login' %}">login</a>
        </li>
	{% else %}
        <li>
	  <a href="#">logged in as {{ user.username }}</a>
        </li>
        <li>
	  <a href="{% url 'logout' %}">logout</a>
        </li>
	{% endif %}
      </ul>
    </nav>
  </div>
</header>

    <!-- Page content of course! -->
    <main class="bs-masthead" id="content" role="main">

	{% block content %}

	{% if not user.is_authenticated %}
	<div style="background-color: #8c8">
	  <div class="container">
            <div class="row" >
              <div class="col-xs-4" style="text-align: center">
		<h1><img src="/static/icons/XMPP_logo.svg" /></h1>
		<h4>Jabber Webfrontend</h4>
		<p>
		  Jabber/XMPP with any server via web interface.
		</p>
              </div>
              <div class="col-xs-4" style="text-align: center">
		<h1><i class="icon-lock icon-4x"></i></h1>
		<h4>Secured by Off-the-Record Messaging</h4>
		<p>
		  <strong>?OTRv2?</strong><br/>We support Off-the-Record private conversations.<br/>See <a href="http://otr.cypherpunks.ca/">http://otr.cypherpunks.ca/</a> for more information.
		</p>
              </div>
              <div class="col-xs-4" style="text-align: center">
		<h1><i class="icon-github icon-4x"></i></h1>
		<h4>Open source and built in 48h.</h4>
		otrme.de is a <a href="http://djangodash.com/teams/c4/three-followers/">DjangoDash 2013</a> project. Get the <a href="https://github.com/mfa/djangodash2013">sourcecode</a> on github.
		<p>
		</p>
              </div>
            </div>
          </div>
        </div>
	{% endif %}

	<div style="background-color: #dfd">
	  <div class="container">
	    
	    {% if user.is_authenticated %}
	    <div ng-app="OtrMe" ng-controller="ChatCtrl" style="padding-top:20px;">
	      <script type="text/javascript">
		var logged_in_jid = '{{ user.username }}';
	      </script>
	     {% verbatim %}
	     <h1>Chat with <b>{{ current_channel_name }}</b></h1>
	     <div class="row">
	       <div class="col-md-9">
		 <div class="row" ng-repeat="message in messages[current_channel_name] | orderBy:'time'">
		   <div class="col-md-8">
		     <div class="row">
		       <div class="col-md-8">
			 <h4><strong><a href="#">{{ message.jid }}</a></strong></h4>
		       </div>
		     </div>
		     <div class="row">
		       <div class="col-md-2">
			 <div class="thumbnail">
			   <img src="http://placehold.it/300x300" alt="">
			 </div>
		       </div>
		       <div class="col-md-6">
			 <p>
			   {{ message.message }}
			 </p>
		       </div>
		     </div>
		     <div class="row">
		       <div class="col-md-8">
			 <p>
			   <span class="glyphicon glyphicon-time"></span> {{ message.time }} | <span ng-bind-html-unsafe="pretty_otr(message.otr_state)"></span>sent from {{  message.resource }}
			 </p>
		       </div>
		     </div>
		   </div>
		 </div>
		 
		 <div class="row">
		   <div class="col-md-8 well">
		     <form accept-charset="UTF-8" ng-submit="send_message(current_channel_name, new_message_text)">
		       <div class="row">
			 <textarea class="col-md-8" id="new_message" name="new_message"
				   placeholder="Type in your message" rows="5" ng-model="new_message_text"></textarea>
		       </div>
		       <div class="row">
			 <button class="btn btn-info" type="submit">Post New Message</button>
		       </div>
		     </form>
		   </div>
		 </div>
	       </div>
	       <div class="col-md-3">
		 <h3>Online Users</h3>
		 <ul>
		   <li ng-repeat="user in users | orderBy:'jid' | filter:{show:'available'}"><span class="glyphicon glyphicon-user"></span> <a href="" ng-click="set_current_channel(user.jid)">{{ user.jid }}</a> <b>{{ pretty_unread(user.unread) }}</b></li>
		 </ul>
		 <h3>All Users</h3>
		 <ul>
		   <li ng-repeat="user in users | orderBy:'jid'"><span class="glyphicon glyphicon-user"></span> <a href="" ng-click="set_current_channel(user.jid)">{{ user.jid }}</a> <b>{{ pretty_unread(user.unread) }} [{{ user.show }}]</b></li>
		 </ul>
	       </div>
	       {% endverbatim %}
	     </div>
	     {% endif %}
	     {% endblock %}
            </div>
          </div>
      </div>
	<div id="push"></div>
    </main>


    <footer role="contentinfo">
      <div class="container">
	<div class="bs-social">
	  <ul class="bs-social-buttons">
	    <li>
	      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mfa&amp;repo=djangodash2013&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
	    </li>
	  <li>
	    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mfa&amp;repo=djangodash2013&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
	  </li>
	</ul>
	</div>
      </div>
    </footer>

<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/angular.js' %}"></script>
<script src="{% static 'js/angular-cookies.js' %}"></script>
<script src="{% static 'js/app/controllers.js' %}"></script>
<script src="{% static 'js/app/services.js' %}"></script>
<script src="{% static 'js/app/app.js' %}"></script>
{#<script src="{% static 'js/holder.js' %}"></script>#}

  </body>
</html>
