body, html {
  height: 100%;
}
body {
  position: relative;
  padding-top: 50px;
}

.bs-social {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.bs-social-buttons {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-social-buttons li {
  display: inline-block;
  line-height: 1;
  padding: 5px 8px;
}
.github-btn {
  border: 0;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .bs-social {
    text-align: left;
  }
  .bs-social-buttons li:first-child {
    padding-left: 0;
  }
}

footer {
    text-align: center;
    padding-top: 10px;
    background-color: #056543;
}
.navbar-custom {
    background-color: #030;
}
a, a:active, a:hover {
    color: #C83D1D;
    font-weight: bold;
}
